@font-face 
{
    font-family: 'Roboto', sans-serif;
    src: url('fonts/Roboto-Light-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face 
{
    font-family: 'Roboto', sans-serif;
    src: url('fonts/RobotoCondensed-Bold-webfont.woff') format('woff');
    font-style: normal;
    font-weight:700;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{

    height: 100%;
}
body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color:black;
    height:100%;
}

p
{
    color:white;

}

header
{
    font-weight: 700;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size:80px;
    padding:40px;
    border-bottom:10px solid white;
    text-align: center;


}

footer
{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:10px solid white;
    height: 150px;
    text-align: center;
}

.icon
{
    width: 190px;
}

.middle
{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.scoreH, .scoreC
{
    font-family:Poppins;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:110px;
    width:50%;
    color:white;
    border-bottom:10px solid white;
}

.scoreH
{
    border-right:10px solid white;
}


.table
{
    display:flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap:wrap;
    width:790px;
    padding-top:130px;
    padding-bottom: 135px;
    color:white;
}

.button, .winner
{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    flex-wrap: wrap;
    font-size:80px;
    width:210px;
    height:210px;
    border-radius: 50%;
  
}

.winner
{
    width: 170px;
    background-color: black;
    border:none;
    margin:25px;
    opacity: 0;
}

.winner .icon
{
    width: 100px;
}

.button :hover
{
    border-bottom: 12px solid white;
}

/* Mobile Styles */
@media only screen and (max-width: 430px) 
{
    header
    {
        font-size:40px;
        line-height:1.4;
        word-spacing: 15px;
        border-bottom:5px solid white;
    }

    .scoreC, .scoreH
    {
        font-size:90px;
        border-bottom:5px solid white;
    }

    .scoreH
    {
        border-right:5px solid white;
    }

    .table
    {
        padding-top:65px;
        padding-bottom: 67.5px;
        width:395px;

    }

    .button
    {
        font-size: 40px;
        width: 105px;
        height: 105px;
    }

    .winner
    {
        display: flex;
        flex-wrap: wrap;
        width: 95px;
        height: 120px;
        margin: 12.5px;
    }

    .icon
    {
        width: 105px;
    }

    .winner .icon
    {
        width: 55px;
    }

    figcaption
    {
        font-size: 15px;
        text-align: center;
    }

    .button :hover
    {
        border-bottom: 10px solid white;
    }

}
  
/* Tablet Styles */
@media only screen and (min-width: 431px) and (max-width: 1535px)
{


}
  
/* Desktop Styles */
@media only screen and (min-width: 1536px)
{

    .scoreC, .scoreH
    {
        border-bottom:0;
        font-size:140px;
        width:24%;
    }

    .scoreH
    {
        order:1;
        border-right:10px solid white;
    }

    .middle
    {
        justify-content:space-between;
    }

    .table
    {
        order:2;
    }

    .icon
    {
        width:200px;
    }

    .scoreC
    {
        order:3;
        border-left: 10px solid white;
    }

}